@{
    ViewData["Title"] = "Home Page";
}
@model HeatCostResultViewModel
<style type="text/css">
    table tr:last-child {
        font-weight: bold;
    }
</style>
<h1>Heating Cost Calculator</h1>

<h2>Results</h2>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Size of Space</td>
                    <td class="text-right">@Model.SizeInSquareFeet</td>
                </tr>
                <tr>
                    <td>Climate Zone</td>
                    <td class="text-right">@Model.ClimateZone</td>
                </tr>
                <tr class="success">
                    <td>Cost</td>
                    <td class="text-right">@string.Format("{0:C}", Model.Cost)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
