@{
    ViewData["Title"] = "Home Page";
}

<h1>Utility Cost Calculators</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Overview</h2>
        Calculate the cost to heat or cool your space.

    </div>
    <div class="col-md-6">
        <h2>Calculators</h2>
        <ul>
            <li><a href="/HeatCost">Heating Cost Calculator</a></li>
        </ul>
    </div>
</div>
